@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Outfit", sans-serif;
  --color-primary: #0ea5e9;
  --color-primary-dark: #38bdf8;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-[#020617] text-slate-100;
  }
}
